.thaiNature {
  width: 900px;
  border: 15px solid green;
}
.myPhoto {
  position: absolute;
  top: 400px;
  left: 250px;
  border: 15px solid white;
  width: 350px;
}
.numbers {
  display: inline-block;
  border: 3px solid black;
}
